KatiFuse2/.idea/compiler.xml
KatiFuse2/.idea/copyright/profiles_settings.xml
KatiFuse2/.idea/
*.iml
KatiFuse2/KatiJaxbAddress1/target/
.idea/
KatiFuse2/KatiJson/target/
KatiFuse2/KatiJaxbAddress2/target/
KatiFuse2/KatiCamelJaxb/target/
KatiFuse2/KatiJsonToXml/target/
KatiFuse2/KatiCamelAddress/target/classes/myroutes/MyRouteBuilder.class
KatiFuse2/KatiCamelAddress/target/
